In [1]:
import pandas as pd
import pickle as pkl
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [2]:
examples = pd.read_csv("examples.csv", delimiter=";")

#### Visualize the pairs of tables

In [3]:
examples

,id,r_id,s_id,r_w,r_h,r_a,r_dist,s_w,s_h,s_a,s_dist,seeds,algo,o_w,o_h,o_a,jaccard,set_overlap,sloth,comment
0,1,tab001,tab002,30,31,930,75,30,31,930,75,842,a,14,4,56,0.923077,0.960000,0.060215,set measures >> sloth (repetition and alignment)
1,2,tab003,tab004,28,29,812,77,28,29,812,74,730,a,6,8,48,0.911392,0.972973,0.059113,set measures >> sloth (repetition and alignment)
2,3,tab005,tab006,28,29,812,74,28,29,812,76,730,a,7,7,49,0.948052,0.986486,0.060345,set measures >> sloth (repetition and alignment)
3,4,tab007,tab008,3,16,48,48,4,38,152,147,3,e,3,15,45,0.308725,0.958333,0.937500,low jaccard similarity (additional rows and/or...
4,5,tab009,tab010,3,12,36,33,3,33,99,85,5,e,3,12,36,0.388235,1.000000,1.000000,low jaccard similarity (additional rows and/or...
5,6,tab011,tab012,4,15,60,46,4,56,224,160,4,e,4,15,60,0.287500,1.000000,1.000000,low jaccard similarity (additional rows and/or...
6,7,tab013,tab014,7,31,217,143,3,31,93,58,3,e,3,29,87,0.386207,0.965517,0.935484,low jaccard similarity (additional rows and/or...
7,8,tab015,tab016,5,12,60,45,5,37,185,124,5,e,5,11,55,0.352000,0.977778,0.916667,low jaccard similarity (additional rows and/or...
8,9,tab017,tab018,5,10,50,50,3,10,30,21,5,e,1,9,9,0.365385,0.904762,0.300000,high overlap set similarity
9,10,tab019,tab020,6,22,132,109,6,10,60,51,6,e,4,8,32,0.391304,0.882353,0.533333,high overlap set similarity
10,11,tab021,tab022,6,101,606,458,3,101,303,218,2,e,2,90,180,0.390947,0.871560,0.594059,high overlap set similarity
11,12,tab023,tab024,4,16,64,45,4,33,132,89,5,e,1,11,11,0.367347,0.800000,0.171875,high overlap set similarity
12,13,tab025,tab026,5,12,60,45,4,10,40,25,10,e,1,8,8,0.400000,0.800000,0.200000,high overlap set similarity
13,14,tab027,tab028,7,14,98,98,10,10,100,100,56,a,1,3,3,0.850467,0.928571,0.030612,set measures >> sloth (repetition and alignment)
14,15,tab029,tab030,5,18,90,54,5,17,85,50,11,e,2,17,34,0.857143,0.960000,0.400000,set measures >> sloth (repetition and alignment)
15,16,tab031,tab032,5,89,445,442,5,84,420,406,11,e,3,56,168,0.839479,0.953202,0.400000,set measures >> sloth (repetition and alignment)
16,17,tab033,tab034,5,21,105,75,8,21,168,84,14,e,2,21,42,0.848837,0.973333,0.400000,set measures >> sloth (repetition and alignment)
17,18,tab035,tab036,4,16,64,31,4,13,52,27,4,e,3,6,18,0.812500,0.962963,0.346154,set measures >> sloth (repetition and alignment)
18,19,tab037,tab038,4,17,68,36,4,18,72,38,16,e,4,5,20,0.804878,0.916667,0.294118,set measures >> sloth (repetition and alignment)
19,20,tab039,tab040,4,37,148,89,4,40,160,96,8,e,1,36,36,0.868687,0.966292,0.243243,set measures >> sloth (repetition and alignment)
20,21,tab041,tab042,5,24,120,58,5,24,120,58,4,e,4,24,96,0.414634,0.586207,0.800000,set measures << sloth (repetition)
21,22,tab043,tab044,6,16,96,36,6,16,96,36,28,e,5,16,80,0.411765,0.583333,0.833333,set measures << sloth (repetition)
22,23,tab045,tab046,13,33,429,149,13,33,429,149,57,e,11,33,363,0.419048,0.590604,0.846154,set measures << sloth (repetition)
23,24,tab047,tab048,5,10,50,43,5,11,55,47,4,e,4,10,40,0.578947,0.767442,0.800000,low jaccard similarity (divide by union)
24,25,tab049,tab050,10,13,130,88,10,12,120,88,12,e,8,12,96,0.571429,0.727273,0.800000,low jaccard similarity (divide by union)
25,26,tab051,tab052,3,112,336,225,11,10,110,110,10,e,1,9,9,0.361789,0.809091,0.081818,high overlap set similarity
26,27,tab053,tab054,3,15,45,30,3,24,72,72,3,e,1,14,14,0.342105,0.866667,0.311111,high overlap set similarity
27,28,tab055,tab056,5,11,55,37,5,11,55,36,7,e,2,8,16,0.825000,0.916667,0.290909,set measures >> sloth (repetition and alignment)
28,29,tab057,tab058,4,18,72,49,4,18,72,50,8,e,1,12,12,0.867925,0.938776,0.166667,set measures >> sloth (repetition and alignment)
29,30,tab059,tab060,4,10,40,28,4,11,44,28,6,e,3,8,24,0.866667,0.928571,0.600000,set measures >> sloth (repetition and alignment)
30,31,tab061,tab062,7,7,49,40,7,7,49,40,45,e,3,6,18,1.000000,1.000000,0.367347,set measures >> sloth (repetition and alignment)
31,32,tab063,tab064,15,12,180,44,15,12,180,44,130,e,8,10,80,0.955556,0.977273,0.444444,set measures >> sloth (repetition and alignment)
32,33,tab065,tab066,11,6,66,13,14,6,84,13,111,e,7,4,28,0.857143,0.923077,0.424242,set measures >> sloth (repetition and alignment)
33,34,tab067,tab068,8,11,88,39,13,23,299,104,40,e,1,11,11,0.300000,0.846154,0.125000,high overlap set similarity
34,35,tab069,tab070,4,28,112,44,4,10,40,17,4,e,1,10,10,0.297872,0.823529,0.250000,high overlap set similarity
35,36,tab071,tab072,3,25,75,75,4,15,60,29,3,e,1,13,13,0.300000,0.827586,0.216667,high overlap set similarity
36,37,tab073,tab074,4,26,104,87,3,16,48,30,3,e,1,15,15,0.300000,0.900000,0.312500,high overlap set similarity
37,38,tab075,tab076,3,101,303,294,12,13,156,111,10,e,1,10,10,0.306452,0.855856,0.064103,high overlap set similarity
38,39,tab077,tab078,4,13,52,28,4,33,132,67,4,e,4,13,52,0.417910,1.000000,1.000000,low jaccard similarity (additional rows and/or...
39,40,tab079,tab080,4,18,72,46,4,41,164,105,16,e,4,17,68,0.424528,0.978261,0.944444,low jaccard similarity (additional rows and/or...
40,41,tab081,tab082,5,26,130,74,5,11,55,36,25,e,5,10,50,0.428571,0.916667,0.909091,low jaccard similarity (additional rows and/or...
41,42,tab083,tab084,7,14,98,73,7,22,154,118,10,e,6,14,84,0.458015,0.821918,0.857143,low jaccard similarity (additional rows and/or...
42,43,tab085,tab086,4,13,52,45,4,30,120,94,6,e,4,12,48,0.447917,0.955556,0.923077,low jaccard similarity (additional rows and/or...
43,44,tab087,tab088,7,14,98,98,9,10,90,82,59,a,1,2,2,0.818182,0.987805,0.022222,set measures >> sloth (repetition and alignment)
44,45,tab089,tab090,12,12,144,144,12,12,144,144,144,a,1,1,1,1.000000,1.000000,0.006944,set measures >> sloth (repetition and alignment)
45,46,tab091,tab092,5,10,50,26,5,10,50,25,17,e,2,5,10,0.821429,0.920000,0.200000,set measures >> sloth (repetition and alignment)
46,47,tab093,tab094,4,12,48,36,4,12,48,36,6,e,1,11,11,0.800000,0.888889,0.229167,set measures >> sloth (repetition and alignment)
47,48,tab095,tab096,12,12,144,144,8,33,264,144,52,a,2,6,12,0.811321,0.895833,0.083333,set measures >> sloth (repetition and alignment)
48,49,tab097,tab098,10,28,280,190,28,10,280,193,271,a,3,3,9,0.924623,0.968421,0.032143,set measures >> sloth (repetition and alignment)
49,50,tab099,tab100,12,13,156,145,8,33,264,145,56,a,2,6,12,0.812500,0.896552,0.076923,set measures >> sloth (repetition and alignment)

#### Select the pair of tables

In [4]:
pair_id = 1

In [5]:
r_id = list(examples[examples["id"] == pair_id]["r_id"])[0]
s_id = list(examples[examples["id"] == pair_id]["s_id"])[0]
examples[examples["id"] == pair_id]

,id,r_id,s_id,r_w,r_h,r_a,r_dist,s_w,s_h,s_a,s_dist,seeds,algo,o_w,o_h,o_a,jaccard,set_overlap,sloth,comment
0,1,tab001,tab002,30,31,930,75,30,31,930,75,842,a,14,4,56,0.923077,0.96,0.060215,set measures >> sloth (repetition and alignment)

#### Visualize the tables

In [6]:
r_path = "tables/" + r_id
with open("tables/" + r_id + ".pkl", "rb") as in_file:
    print(pkl.load(in_file))
pd.read_csv(r_path + ".csv")

{'context': ['199798 Seattle SuperSonics season', 'Regular season | Record vs. opponents'], 'num_header_rows': 0}

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records,1997-98 NBA Records
1,Team,ATL,BOS,CHA,CHI,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MIA,MIL,MIN,NJN,NYK,ORL,PHI,PHO,POR,SAC,SAS,SEA,TOR,UTA,VAN,WAS
2,Atlanta,,21,40,13,40,20,20,22,20,11,13,20,02,13,31,02,12,22,22,31,02,11,20,11,11,40,02,20,40
3,Boston,12,,12,13,13,11,11,22,11,11,04,20,11,04,22,11,22,22,22,31,02,11,11,02,11,30,02,20,32
4,Charlotte,04,21,,13,22,20,20,31,11,20,31,20,11,31,31,11,22,13,31,21,11,20,11,11,11,40,11,20,22
5,Chicago,31,31,31,,22,11,20,31,20,20,22,20,11,21,40,11,40,40,31,21,11,11,20,20,11,40,02,20,31
6,Cleveland,04,31,22,22,,11,20,31,20,11,22,20,11,13,22,20,31,12,22,31,20,11,20,02,02,31,11,20,12
7,Dallas,02,11,02,11,11,,31,02,13,04,11,13,04,02,02,22,02,11,02,02,04,04,04,04,22,11,04,40,11
8,Denver,02,11,02,02,02,13,,02,13,04,02,22,04,02,02,13,02,02,02,02,04,22,13,04,04,02,04,13,11
9,Detroit,22,22,13,13,13,20,20,,20,11,13,20,02,12,22,02,22,22,12,31,11,02,11,11,02,40,02,02,22
10,Golden State,02,11,11,02,02,31,31,02,,13,02,13,13,02,02,04,02,11,11,02,04,13,22,13,13,02,04,13,02
11,Houston,11,11,02,02,11,40,40,11,31,,11,40,13,02,11,13,11,11,02,11,13,13,40,22,13,20,04,31,11
12,Indiana,31,40,13,22,22,11,20,31,20,11,,20,02,31,40,20,21,21,31,40,11,11,20,02,02,40,11,20,40
13,L.A. Clippers,02,02,02,02,02,31,22,02,31,04,02,,04,02,02,04,11,02,02,11,04,04,31,13,04,11,13,13,02
14,L.A. Lakers,20,11,11,11,11,40,40,20,31,31,20,40,,11,20,40,11,11,11,02,22,22,40,40,13,20,31,40,11
15,Miami,31,40,13,12,31,20,20,21,20,20,13,20,11,,31,11,31,22,31,40,02,20,20,02,02,40,11,20,22
16,Milwaukee,13,22,13,04,22,20,20,22,20,11,04,20,02,13,,11,04,31,21,22,02,20,20,02,11,31,02,11,12
17,Minnesota,20,11,11,11,02,22,31,20,40,31,02,40,04,11,11,,20,11,02,20,31,13,31,13,13,11,13,40,02
18,New Jersey,21,22,22,04,13,20,20,22,20,11,12,11,11,13,40,02,,22,31,31,11,11,20,11,02,31,02,20,13
19,New York,22,22,31,04,21,11,20,22,11,11,12,20,11,22,13,11,22,,40,22,20,11,11,02,11,31,02,20,13
20,Orlando,22,22,13,13,22,20,20,21,11,20,13,20,11,13,12,20,13,04,,40,02,20,02,02,11,31,02,20,31
21,Philadelphia,13,13,12,12,13,20,20,13,20,11,04,11,20,04,22,02,13,22,04,,11,11,11,02,02,22,02,20,31
22,Phoenix,20,20,11,11,02,40,40,11,40,31,11,40,22,20,20,13,11,02,20,11,,22,31,31,22,20,13,40,11
23,Portland,11,11,02,11,11,40,22,20,31,31,11,40,22,02,02,31,11,11,02,11,22,,31,22,04,20,31,22,11
24,Sacramento,02,11,11,02,02,40,31,11,22,04,02,13,04,02,02,13,02,11,20,11,13,13,,04,13,11,22,22,11
25,San Antonio,11,20,11,02,20,40,40,11,31,22,20,31,04,20,20,31,11,20,20,20,13,22,40,,22,20,13,40,11
26,Seattle,11,11,11,11,20,22,40,20,31,31,20,40,31,20,11,31,20,11,11,20,22,40,31,22,,20,22,40,11
27,Toronto,04,03,04,04,13,11,20,04,20,02,04,11,02,04,13,11,13,13,13,22,02,02,11,02,02,,02,11,03
28,Utah,20,20,11,20,11,40,40,20,40,40,11,31,13,11,20,31,20,20,20,20,31,13,22,31,22,20,,40,02
29,Vancouver,02,02,02,02,02,04,31,20,31,13,02,31,04,02,11,04,02,02,02,02,04,22,22,04,04,11,04,,11
30,Washington,04,23,22,13,21,11,11,22,20,11,04,20,11,22,21,20,31,31,13,13,11,11,11,11,11,30,20,11,

In [7]:
s_path = "tables/" + s_id
with open("tables/" + s_id + ".pkl", "rb") as in_file:
    print(pkl.load(in_file))
pd.read_csv(s_path + ".csv")

{'context': ['199596 Milwaukee Bucks season', 'Regular season | Record vs. opponents'], 'num_header_rows': 0}

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records,1995-96 NBA Records
1,Team,ATL,BOS,CHA,CHI,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MIA,MIL,MIN,NJN,NYK,ORL,PHI,PHO,POR,SAC,SAS,SEA,TOR,UTA,VAN,WAS
2,Atlanta,,40,31,04,31,11,11,22,11,11,13,20,02,22,22,11,40,21,22,21,02,20,20,02,02,40,11,20,13
3,Boston,04,,22,03,13,02,11,21,02,11,04,20,02,31,31,20,22,04,13,40,11,02,20,02,02,31,02,11,22
4,Charlotte,13,22,,13,31,20,20,13,02,02,13,11,20,22,31,11,03,30,04,31,20,11,11,02,02,31,11,20,31
5,Chicago,40,30,31,,40,20,11,40,20,20,22,20,20,31,40,20,30,31,31,40,11,20,20,20,11,31,20,20,40
6,Cleveland,13,31,13,04,,20,11,22,20,11,22,20,20,13,40,20,12,31,12,40,20,11,11,02,02,31,02,20,31
7,Dallas,11,20,02,02,02,,22,02,22,13,02,22,04,02,11,04,11,02,11,02,13,04,22,22,22,11,13,40,02
8,Denver,11,11,02,11,11,22,,11,22,13,02,13,22,02,11,40,02,11,11,20,31,04,04,04,13,20,31,31,11
9,Detroit,22,12,31,04,22,20,11,,20,11,22,20,02,13,22,11,40,04,13,40,20,20,11,20,11,40,02,20,12
10,Golden State,11,20,20,02,02,22,22,02,,22,11,31,13,11,11,31,20,02,02,20,13,13,13,13,04,11,13,40,11
11,Houston,11,11,20,02,11,31,31,11,22,,20,40,31,02,20,22,20,02,02,20,31,22,22,13,04,20,22,40,11
12,Indiana,31,40,31,22,22,20,20,22,11,02,,20,11,30,31,11,13,13,22,31,11,11,02,11,20,40,02,20,30
13,L.A. Clippers,02,02,11,02,02,22,31,02,13,04,02,,04,11,11,31,11,11,02,20,31,22,22,13,04,02,13,31,11
14,L.A. Lakers,20,20,02,02,02,40,22,20,31,13,11,40,,20,20,31,20,11,11,11,31,22,31,13,22,20,22,40,11
15,Miami,22,13,22,13,31,20,20,31,11,20,03,11,02,,30,11,50,13,13,31,11,02,11,11,02,21,02,11,22
16,Milwaukee,22,13,13,04,04,11,11,22,11,02,13,11,02,03,,11,13,22,13,21,02,20,02,11,02,22,02,11,13
17,Minnesota,11,02,11,02,02,40,04,11,13,22,11,13,13,11,11,,11,02,02,11,13,04,31,13,04,11,13,22,02
18,New Jersey,04,22,30,03,21,11,20,04,02,02,31,11,02,05,31,11,,22,04,22,02,11,11,02,02,22,02,20,22
19,New York,12,40,03,13,13,20,11,40,20,20,31,11,11,31,22,20,22,,13,31,02,02,02,11,11,40,11,11,31
20,Orlando,22,31,40,13,21,11,11,31,20,20,22,20,11,31,31,20,40,31,,40,20,11,11,11,11,21,11,20,40
21,Philadelphia,12,04,13,04,04,20,02,04,02,02,13,02,11,13,12,11,22,13,04,,02,02,02,02,02,31,11,11,13
22,Phoenix,20,11,02,11,02,31,13,02,31,13,11,13,13,11,20,31,20,20,02,20,,22,22,13,04,20,13,40,20
23,Portland,02,20,11,02,11,40,40,02,31,22,11,22,22,20,02,40,11,20,11,20,22,,13,13,13,20,13,22,02
24,Sacramento,02,02,11,02,11,22,40,11,31,22,20,22,13,11,20,13,11,20,11,20,22,31,,13,04,20,04,22,02
25,San Antonio,20,20,20,02,20,22,40,02,31,31,11,31,31,11,11,31,20,11,11,20,31,31,31,,22,20,31,40,11
26,Seattle,20,20,20,11,20,22,31,11,40,40,02,40,22,20,20,40,20,11,11,20,40,31,40,22,,11,31,31,11
27,Toronto,04,13,13,13,13,11,02,04,11,02,04,20,02,12,22,11,22,04,12,13,02,02,02,02,11,,02,11,31
28,Utah,11,20,11,02,20,31,13,20,31,22,20,31,22,20,20,31,20,11,11,11,31,31,40,13,13,20,,40,11
29,Vancouver,02,11,02,02,02,04,13,02,04,04,02,13,04,11,11,22,02,11,02,11,04,22,22,04,13,11,04,,02
30,Washington,31,22,13,04,13,20,11,21,11,11,03,11,11,22,31,20,22,13,04,31,02,20,20,11,11,13,11,20,

#### Visualize the overlap

In [8]:
o_path = "overlaps/" + r_id + "_" + s_id + ".csv"
pd.read_csv(o_path)

,"(1, 18)","(2, 15)","(3, 14)","(4, 19)","(6, 6)","(9, 21)","(11, 1)","(13, 22)","(14, 5)","(15, 29)","(16, 23)","(23, 16)","(25, 24)","(28, 28)"
0,31,31,31,,11,20,22,11,21,40,11,20,11,20
1,02,11,02,11,,13,11,04,02,02,22,04,22,40
2,31,40,13,12,20,20,13,11,,31,11,20,02,20
3,11,11,11,11,22,31,20,31,20,11,31,31,,40